body {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}
.login_registration {
	text-align: center;
}
.error {
	color: red;
}
.success {
	color: green;
}
div.riassunto * {
	margin-top: 15px;
}
.colored {
	width: 100px;
	height: 20px;
	border: 1px solid; 
}
form {
	margin-top: 15px;
}
#map {
	height: 600px;
	border: 1px solid #AAA;
}
.alert {
	position: fixed;
	top: 65px;
	left: 400px;
	right: 400px;
}
label.required:after {
	content: ' *';
	color: red;
}
.stopSequence td,  .stopSequence th {
	border: 1px solid black;
	padding: 10px;
}
.stopSequence {
	border-collapse: true;
	width: 100%;
	margin-top: 15px;
}
/*change breadcrumb separator to raquo symbol*/
.breadcrumb>li+li:before {
     content: "\003E";
     color: #ccc;
}